:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-darkblue: hsl(234, 12%, 34%);
  --clr-grayishblue: hsl(229, 6%, 66%);
  --clr-lightgray: hsl(0, 0%, 98%);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: gray;
  background-color: var(--clr-lightgray);
  color: var(--clr-darkblue);
}

header {
  // background-color: gray;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
  max-width: 510px;
  h1 {
    margin-bottom: 0.5em;
    font-weight: 300;
  }
}

.card-container {
  // background-color: rgb(164, 161, 172);
  margin-top: 2em;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2em;
  grid-template-rows: repeat(4, 16.5em);
}

.card {
  background-color: var(--clr-lightgray);
  padding: 2em;
  border-radius: 1em;
  filter: drop-shadow(0px 10px 10px var(--clr-grayishblue));
  position: relative;
  overflow: hidden;
  h2 {
    margin-bottom: 0.2em;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 0.4em; /* should be .card's border-radius x 4 */
      top: 0;
      left: 0;
      background-color: red;
    }
  }
  p::after {
    content: "";
    width: 4.5em;
    height: 4.5em;
    display: block;
    position: absolute;
    border-color: green;
    bottom: 0 + 2em; //2m makes image line up with cards padding
    right: 0 + 2em; //2m to make image line up with cards padding
    background-image: url(./images/icon-supervisor.svg);
    background-repeat: no-repeat;
  }
  &:nth-of-type(1) {
    h2::before {
      background-color: var(--clr-cyan);
    }
  }
  &:nth-of-type(2) {
    h2::before {
      background-color: var(--clr-red);
    }
    p::after {
      background-image: url(./images/icon-team-builder.svg);
    }
  }
  &:nth-of-type(3) {
    h2::before {
      background-color: var(--clr-orange);
    }
    p::after {
      background-image: url(./images/icon-karma.svg);
    }
  }
  &:nth-of-type(4) {
    h2::before {
      background-color: var(--clr-blue);
    }
    p::after {
      background-image: url(./images/icon-calculator.svg);
    }
  }
}

footer {
  margin-top: 3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .card-container {
    margin-left: 10em;
    margin-right: 10em;
    grid-auto-flow: row;
    grid-template-rows: 16.5em 16.5em;
    grid-template-columns: repeat(3, 1fr);
    .card {
      max-width: 431px;
    }
    .card:nth-of-type(1), // ofsets first and last card's verticle position
    .card:nth-of-type(4) {
      grid-row: span 2;
      margin-top: calc(25% + 2em);
      margin-bottom: calc(25% + 2em);
    }
    .card:nth-of-type(3) {
      // moves Karma card below TeamBuilder card
      grid-row: 2;
      grid-column: 2;
    }
  }
}
